<div class="span4" id="white"></div>
<div class="span12" id="welcome">
  <h1>Welcome to DEPOT</h1>
</div>

<%= button_to 'SELL', new_user_registration_path(@user), class: "button_left", method: :get %>
<%= button_to 'BUY', store_index_path, class: "button_right", method: :get %>


