<h2>Your Pragmatic Cart</h2>
<% if @cart.line_items.any? %>
  <table>
    <%= render(cart.line_items) %>
    
    <tr class="total_line">
      <td>Total</td>
      <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
    </tr>
  </table>
    <td><%= button_to 'Empy cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %></td><br>
<% else %>
  <h2>is empty.</h2>
<% end %>