<h2>Your Pragmatic Cart</h2>
<% if @cart.line_items.any? %>
  <ul>
    <% @cart.line_items.each do |item| %>
      <li><%= item.product.title %></li>
      <li><%= sprintf("$%0.02f",item.product.price) %></li>
      <li><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    <% end %>
    
  </ul>
<% else %>
  <h2>is empty.</h2>
<% end %>