// Place all the styles related to the persons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#profile {
    position:relative; 
  left: 20%;
}

#profile_panel {
  position:relative; 
    left: -2.3%;
  margin-top: -2%;
  padding-left: 50px;
  background: #FFAD5C;
}
#left_text {
    position:relative; 
  left: -24%;
  bottom: -180px;
  }
#products_panel {
  padding-left: 150px;
  position:relative; 
    top: -100px;
    left: -5%;
  text-align: center;
}



