<tr>
  <td><%= line_item.product.title %></td>
  <td><%= sprintf("$%0.02f",line_item.product.price) %></td>
  <td><%= link_to 'Delete', line_item_path(line_item), method: :delete, remote: true, class: 'delete_line_item' %></td>
</tr>
