<header class="navbar navbar navbar-custom">
  <div class="navbar-inner"> 
    <%= link_to image_tag("logo.jpg", border: 0, size: "80x60"), {action: 'index', controller: 'store'}, class: 'dock-item' %>

          
            <ul class="nav pull-right">
              <li><%= link_to 'Home', "#"%></li>
              <li><%= link_to 'Users', "#"%></li>
            </ul>
          

    </div>
</header>

